body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#viewDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
}

.header {
  background-color: black;
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
}

.main-nav {
  display: inline;
  margin-right: 0;
}

.navItem {
  height: 50px;
  border-color: rgb(71, 71, 71);
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: 10px;
  font-family: Arial;
  font-weight: 120;
  padding: 5px 5px;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

#content {
  margin-left: 20px;
  margin-top: 5px;
}

/* #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
} */

#paneDiv {
  min-width: 200px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid white;
  color: black;
}

.esri-ui-top-right {
  max-height: 100%;
}

#queryDiv {
  min-width: 400px;
  font-size: 14px;
  padding: 10px;
  display: none;
  overflow-y: auto;
  overflow-x:hidden;
}

#resultDiv {
  min-width: 450px;
  font-size: 14px;
  padding: 10px;
  display: none;
  overflow-y: auto;
  overflow-x:hidden;
}

#existingStats {
  min-width: 450px;
}

#projectedStats {
  min-width: 450px;
}

#overallChartDiv {
  min-width: 450px;
}

#basinChartDiv {
  min-width: 450px;
}

#overallResultsChartDiv {
  min-width: 600px;
  font-size: 14px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#basinResultsChartDiv {
  min-width: 600px;
  font-size: 14px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.geometry-options {
  display: flex;
  flex-direction: row;
}

.projection-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.geometry-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}

.geometry-button-selected {
  background: #4c4c4c;
  color: #fff;
}

.count {
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

.esri-editor .esri-item-list__scroller {
  max-height: 350px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: disabled;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 335px;
  font-size: 14px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 25%;
  left: 0%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#formDiv {
  width: 100%;
}

.esri-item-list__scroller {
  overflow-y: visible;
}


.inputName {
  border-bottom: solid thin;
}

.transparent {
opacity: 0;
}


.slider {
  -webkit-appearance: none;  /* Override defaultCSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height*/
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Settransparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
/* Mouse-overeffects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: black; /* Greenbackground */
cursor: pointer; /* Cursor on hover */
}

.editArea-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: solid;
  border-width: .1px;
  border-color: rgb(184, 184, 184);
  top: 60px;
  right: 10px;
  float: right;
  background:white;
  line-height: 1.5em;
}

.editArea-container div {
padding: .5em;
color: black;
text-align: center;
}

.button {
background-color: #0079c1;
font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-s;
align-items: center;
border: none;
border-radius: 2px;
color: white;
margin: 10px 15px;
padding: 6px 20px 6px;
height: 45;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
} 

.table {
font-family: "Avenir Next","Helvetica Neue","Helvetica","Arial","sans-s";
color: rgb(59, 59, 59);
}

.ffInput {
width: 65px;
}
.luInput {
width: 65px;
}

.dropdown {
position: relative;
float: left;
margin-left:10px;
margin-top: 10px;
width: 125px;
font-family: "Avenir Next","Helvetica Neue","Helvetica","Arial","sans-s";
font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height:25px;
  width: 25px;
  top:0.3px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c6eb8c;
}


input:checked + .slider:before {
  -webkit-transform: translateX(58px);
  -ms-transform: translateX(58px);
  transform: translateX(58px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on
{
  color: black;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 35%;
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.off
{
  color: black;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 65%;
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}


.topRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
}

.selectYear {
  text-align-last: center;
}

.otherText {
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-s;
  color: rgb(59, 59, 59);
}

.progressInfoWindow {
  position: fixed;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 650px;
  height: fit-content;
  background-color: rgba(185, 229, 255, 0.884);
  opacity: 90%;
  border-style: solid;
  border-color: black;
  padding: 12px;
  transition: all 1s;
}

.slideIn {
  top:120%;
}

.editsComplete{
  background-color: #c6eb8c;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-s;
  color: rgb(59, 59, 59);
  font-size: 20px;
  font-weight: bold;
}


.topRowContainerInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:fit-content;
  margin-right: 1%;
}

.iconContainer {
  height: 100%;
  float:right;
}

.charts {
  width:max-content
}

#helpWindow {
  position: fixed;
  right: 0;
  margin-top: 50px;
  height: 85%;
  width: 25%;
  background-color: white;
  display: block;
  z-index: 0;
  border-style: solid;
}